doctype 
html
  head
    meta(charset='UTF-8')
    title 倉儲既代出貨服務 - Lifeupdate
    meta(name='description' content='電子商務已成為趨勢，初次踏入電商領域的中小型企業/店家是否因為人力與資源不足而備受困擾?將電商事業交由升活商務代營運，如官網建置與設計、行銷推廣、後勤支援等，提供您一條龍完整的服務。')
    link(rel='icon' href='./img/favicon.svg' type='image/x-icon')
    meta(property='og:image' content='./img/ogimage.jpg')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous")
    link(rel='stylesheet' href='https://unpkg.com/swiper@7/swiper-bundle.min.css')
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet") 
    link(href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet")
    link(rel='stylesheet' href='./css/style.css')

  body
    #page-banner.bg-logo-bottom.bg-logo-top-after.overflow-x
      .container-xl.container-1100.d-flex.h-100.position-relative.z-index-500
        .row
          .col-lg-5.d-lg-flex.d-block.flex-column.align-items-xl-start.justify-content-center
            h1.text-uppercase Delivery
            h4 倉儲既代出貨服務
            .title-hr.justify-content-xl-center
            p 倉儲與出貨經營項目繁瑣，透過代營運服務，可以大幅降低人員與空間成本，都會型倉儲型式，讓品牌更能掌握貨況。
            a.btn.btn-cta.bg-brand-blue.rounded-pill.px-3.py-1.white(href="#service-form") 選擇此方案
          .col-lg-7.d-flex.justify-content-center
            img.mt-mb-30.w-mb-80pc(src="http://lifeupdate.com.tw/wp-content/themes/astra/img/illustrator/delivery.png", alt="")

    #process-block.py-58.bg-bottom.bg-logo-top.overflow-x
      .container-xxl.position-relative.z-index-500
        .row.justify-content-center
          .col-lg-12
            h2.text-center 方案內容
            p.text-uppercase.text-center Plan Content

          .col-lg-4
            .process-card.rounded-10.shodow-3.p-43.bg-white.mt-20.p-mb-20
              img.service-icon.w-100px.mb-20(src="http://lifeupdate.com.tw/wp-content/themes/astra/img/icon/website_fill_colorful.png", alt="")
              h4 官網建置
              p 針對企業店家進行診斷，量身打造符合店家需求的官網(店舖)版型及金物流系統。
          .col-lg-4
            .process-card.rounded-10.shodow-3.p-43.bg-white.mt-20.p-mb-20
              img.service-icon.w-100px.mb-20(src="http://lifeupdate.com.tw/wp-content/themes/astra/img/icon/operation_fill_colorful.png", alt="")
              h4 後勤支援
              p 協助店家商品上架、拍攝，與店面視覺設計，打造精緻完善的官方網站。
          .col-lg-4
            .process-card.rounded-10.shodow-3.p-43.bg-white.mt-20.p-mb-20
              img.service-icon.w-100px.mb-20(src="http://lifeupdate.com.tw/wp-content/themes/astra/img/icon/marketing_fill_colorful.png", alt="")
              h4 每月行銷推廣
              p 每月活動主題規劃與視覺設計、主打品確認與推廣、活動案型設計。
          .col-lg-4
            .process-card.rounded-10.shodow-3.p-43.bg-white.mt-20.p-mb-20
              img.service-icon.w-100px.mb-20(src="http://lifeupdate.com.tw/wp-content/themes/astra/img/icon/data_fill_colorful.png", alt="")
              h4 成效檢閱與優化
              p 每月針對活動成效與官網流量、會員數成長進行檢視與優化。
          .col-lg-4
            .process-card.rounded-10.shodow-3.p-43.bg-white.mt-20.p-mb-20
              img.service-icon.w-100px.mb-20(src="http://lifeupdate.com.tw/wp-content/themes/astra/img/icon/customer_service__fill_colorful.png", alt="")
              h4 客服管理
              p 每日客服案例應對，並整理客服案件，提供有用資訊以改善服務及商品品質。

    #portfolio-block.mb-80.bg-top
      .container-xxl.position-relative.z-index-500
        .row.justify-content-center
          .col-lg-12
            h2.text-center 方案作品
            p.text-uppercase.text-center PORTFOLIO
          .col-lg-12
            a(href="https://www.rakuten.com.tw/shop/charmingteahouse/" target='_blank') 
              .portfolio-card.rounded-10.shodow-3.mt-20.position-relative.h-500.w-100.h-mb-300
                .portfolio-card-hover.rounded-10.h-100.w-100.bg-hover.position-absolute
                  .portfolio-text.position-absolute.left-20.bottom-10
                    h4.white 樂天店家-茶禮工坊
                    p.white 針對台灣在地茶農，了解店家背景，打造具有溫度的樂天店舖。
                img.img-obj-cover.h-100.w-100.rounded-10(src="http://lifeupdate.com.tw/wp-content/themes/astra/img/case/樂天店家-茶禮工坊.jpg", alt="")
          .col-lg-4
            a(href="https://www.rakuten.com.tw/shop/cho-lamb-stove/" target='_blank') 
              .portfolio-card.rounded-10.shodow-3.mt-20.position-relative.h-400.w-100.h-mb-300
                .portfolio-card-hover.rounded-10.h-100.w-100.bg-hover.position-absolute
                  .portfolio-text.position-absolute.left-20.bottom-10
                    h4.white 樂天店家-卓老牌
                    p.white 深度了解店家想要的店面色系與形象，打造店家想要的視覺。
                img.img-obj-cover.h-100.w-100.rounded-10(src="http://lifeupdate.com.tw/wp-content/themes/astra/img/case/樂天店家-卓老牌.png", alt="")
          .col-lg-4
            a(href="https://www.rakuten.com.tw/shop/butterflykisses/" target='_blank') 
              .portfolio-card.rounded-10.shodow-3.mt-20.position-relative.h-400.w-100.h-mb-300
                .portfolio-card-hover.rounded-10.h-100.w-100.bg-hover.position-absolute
                  .portfolio-text.position-absolute.left-20.bottom-10
                    h4.white 樂天店家-蝶吻手作
                    p.white 每月規劃主打品，透過行銷操作打造明星商品，瞬間提升單品銷售。
                img.img-obj-cover.h-100.w-100.rounded-10(src="http://lifeupdate.com.tw/wp-content/themes/astra/img/case/樂天店家-蝶吻手作.png", alt="")
          .col-lg-4
            a(href="https://www.rakuten.com.tw/shop/3chomia/" target='_blank') 
              .portfolio-card.rounded-10.shodow-3.mt-20.position-relative.h-400.w-100.h-mb-300
                .portfolio-card-hover.rounded-10.h-100.w-100.bg-hover.position-absolute
                  .portfolio-text.position-absolute.left-20.bottom-10
                    h4.white 樂天店家-配件小姐3C好東西
                    p.white 針對店家銷售的商品，提供最合適的活動案型建議，並有效率的執行。
                img.img-obj-cover.h-100.w-100.rounded-10(src="http://lifeupdate.com.tw/wp-content/themes/astra/img/case/樂天店家-配件小姐3C好東西.png", alt="")

    #service-form.pb-80.bg-logo-top.overflow-x
      .container-xl.container-1100.position-relative.z-index-500
        .row.justify-content-center
          .col-lg-12
            h2.text-center 選擇此方案
            p.text-uppercase.text-center it is a viable option
          .col-lg-12
            .p-30.rounded-10.shodow-10.p-mb-20.bg-white
              .row
                .col-lg-6
                  img.img-obj-cover.h-100.w-100.rounded-10(src="http://lifeupdate.com.tw/wp-content/themes/astra/img/illustrator/delivery_bg.png", alt="")
                .col-lg-6.service-form-block.pl-20.mt-mb-30
                  //[contact-form-7 id="147" title="Delivery"]
                  .mb-15
                    label.fz-18(for='customer-name') 姓名
                      span.red *
                    input.input-blue-95.w-100.p-12.rounded-10(placeholder="請輸入您的姓名")
                    // [text* customer-name class:input-blue-95 class:w-100 class:p-12 class:rounded-10 placeholder "請輸入您的姓名"]
                  .mb-15
                    label.fz-18(for='customer-email') 信箱
                      span.red *
                    input.input-blue-95.w-100.p-12.rounded-10(placeholder="請輸入您的信箱")
                    //[email* customer-email class:input-blue-95 class:w-100 class:p-12 class:rounded-10 placeholder "請輸入您的信箱"]
                  .mb-15
                    label.fz-18(for='customer-phone') 電話
                      span.red *
                    input.input-blue-95.w-100.p-12.rounded-10(placeholder="請輸入您的電話")
                    //[tel* customer-phone class:input-blue-95 class:w-100 class:p-12 class:rounded-10 placeholder "請輸入您的電話"]
                  .mb-15.index-dropbox
                    label.fz-18(for='customer-time') 可聯繫時間
                    select.input-blue-95.w-100.p-12.rounded-10(name='customer-time')
                      option(selected='') 請選擇可聯繫時間
                      option(value='morning') 上午 09:00 - 12:00
                      option(value='afternoon') 下午 13:00 - 18:00
                      option(value='night') 晚上 19:00 - 21:00
                    //[select customer-time class:input-blue-95 class:w-100 class:p-12 class:rounded-10 "可聯繫時間" "上午 09:00 - 12:00" "下午 13:00 - 18:00" "晚上 19:00 - 21:00"]
                  .mb-15
                    label.fz-18(for='customer-textarea') 需求描述或備註
                    textarea.input-blue-95.w-100.p-12.rounded-10(row="3" placeholder="請輸入您的需求或備註")
                    //[textarea customer-textarea class:input-blue-95 class:w-100 class:p-12 class:rounded-10 placeholder "請輸入您的需求或備註"]
                  .mt-20
                    .btn-cta.w-100.p-12.text-center.bg-brand-blue.rounded-10.white 寄出
                    //| [submit "寄出" class:btn-cta class:w-100 class:p-12 class:text-center class:bg-brand-blue class:rounded-10 class:white]


            


  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous")
  script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous")
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous")
  script(src='https://unpkg.com/swiper@7/swiper-bundle.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js')
  script(src='https://unpkg.com/popper.js')
