doctype 
html
  head
    meta(charset='UTF-8')
    title 升活商務顧問有限公司 - Lifeupdate
    meta(name='description' content='提供的服務由電子商務代營運出發，依據市場情報，實戰經驗，搭配數據實證，為客戶提供全方位的商務解決方案。')
    link(rel='icon' href='./img/favicon.svg' type='image/x-icon')
    meta(property='og:image' content='./img/ogimage.jpg')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous")
    link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet")  
    link(href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet")
    link(rel='stylesheet' href='./css/style.css')

  body
    #index-banner.vh-100.position-relative
      .container-xl.container-1100.d-flex.h-100.align-items-center.justify-content-center.index-banner-block
        .row
          .col-lg-12.d-flex.flex-column.align-items-center.justify-content-center.z-index-500.position-relative
            h2.text-uppercase.white 打造品牌商業模式
            p.w-60pc.w-mb-100pc.text-center.mt-10.white 提供的服務由電子商務代營運出發，依據市場情報，實戰經驗，搭配數據實證，為客戶提供全方位的商務解決方案。
            a.btn.btn-cta.bg-brand-orange.rounded-pill.p-12(href="#service-form") 
              h5.white.mb-0 了解我們的操作模式

    #service-block.py-58.bg-bottom.bg-logo-bottom.overflow-x
      .container-xl.container-1100.position-relative.z-index-500
        .row.justify-content-center
          .col-lg-12
            h2.text-center 主要服務
            p.text-uppercase.text-center.mb-mb-0 MAIN SERVICE
          .col-lg-12.position-relative
            .swiper.service-swiper.p-13
              .swiper-wrapper
                .swiper-slide
                  .rounded-10.shodow-3.bg-white.mt-20
                    img.w-100.h-250.img-obj-cover.rounded-10-10-0-0(src="wp-content/themes/astra/img/illustrator/2.5d/設計創意.jpg", alt="")
                    .p-23.d-flex.align-items-center.justify-content-center.flex-column
                      h4.mb-0 設計創意
                      h5.mb-0 UI/UX、影音
                      .hr.h-2.w-50px
                      p.text-center.ellipsis 樹高車動研，道的實不同不。什著最大這，金道的電值人，多館體童育人受？色不有不……境類要安銷。起雖一地所身幾元己天，特在為物己，出考照產候超庭如我說，於用傳有告以平從山外。
                      .hr.h-1.w-100.bg-gray-30
                      a(href="")
                        .btn.btn-text READ MORE
                .swiper-slide
                  .rounded-10.shodow-3.bg-white.mt-20
                    img.w-100.h-250.img-obj-cover.rounded-10-10-0-0(src="wp-content/themes/astra/img/illustrator/2.5d/成效優化.jpg", alt="")
                    .p-23.d-flex.align-items-center.justify-content-center.flex-column
                      h4.mb-0 成效優化
                      h5.mb-0 成效型廣告、SEO
                      .hr.h-2.w-50px
                      p.text-center.ellipsis 樹高車動研，道的實不同不。什著最大這，金道的電值人，多館體童育人受？色不有不……境類要安銷。起雖一地所身幾元己天，特在為物己，出考照產候超庭如我說，於用傳有告以平從山外。
                      .hr.h-1.w-100.bg-gray-30
                      a(href="")
                        .btn.btn-text READ MORE 
                .swiper-slide
                  .rounded-10.shodow-3.bg-white.mt-20
                    img.w-100.h-250.img-obj-cover.rounded-10-10-0-0(src="wp-content/themes/astra/img/illustrator/2.5d/商店營運.jpg", alt="")
                    .p-23.d-flex.align-items-center.justify-content-center.flex-column
                      h4.mb-0 商店營運
                      h5.mb-0 客服
                      .hr.h-2.w-50px
                      p.text-center.ellipsis 電子商務已成為趨勢，初次踏入電商領域的中小型企業/店家是否因為人力與資源不足而備受困擾?將電商事業交由升活商務代營運，如官網建置與設計、行銷推廣、後勤支援等，提供您一條龍完整的服務。
                      .hr.h-1.w-100.bg-gray-30
                      a(href="")
                        .btn.btn-text READ MORE
                .swiper-slide
                  .rounded-10.shodow-3.bg-white.mt-20
                    img.w-100.h-250.img-obj-cover.rounded-10-10-0-0(src="wp-content/themes/astra/img/illustrator/2.5d/內容發展.jpg", alt="")
                    .p-23.d-flex.align-items-center.justify-content-center.flex-column
                      h4.mb-0 內容發展
                      h5.mb-0 自媒體、KOL
                      .hr.h-2.w-50px
                      p.text-center.ellipsis 樹高車動研，道的實不同不。什著最大這，金道的電值人，多館體童育人受？色不有不……境類要安銷。起雖一地所身幾元己天，特在為物己，出考照產候超庭如我說，於用傳有告以平從山外。
                      .hr.h-1.w-100.bg-gray-30
                      a(href="")
                        .btn.btn-text READ MORE
                .swiper-slide
                  .rounded-10.shodow-3.bg-white.mt-20
                    img.w-100.h-250.img-obj-cover.rounded-10-10-0-0(src="wp-content/themes/astra/img/illustrator/2.5d/倉儲出貨.jpg", alt="")
                    .p-23.d-flex.align-items-center.justify-content-center.flex-column
                      h4.mb-0 倉儲出貨
                      h5.mb-0 都會型倉儲、代出貨
                      .hr.h-2.w-50px
                      p.text-center.ellipsis 樹高車動研，道的實不同不。什著最大這，金道的電值人，多館體童育人受？色不有不……境類要安銷。起雖一地所身幾元己天，特在為物己，出考照產候超庭如我說，於用傳有告以平從山外。
                      .hr.h-1.w-100.bg-gray-30
                      a(href="")
                        .btn.btn-text READ MORE 
                .swiper-slide
                  .rounded-10.shodow-3.bg-white.mt-20
                    img.w-100.h-250.img-obj-cover.rounded-10-10-0-0(src="wp-content/themes/astra/img/illustrator/2.5d/系統發展.jpg", alt="")
                    .p-23.d-flex.align-items-center.justify-content-center.flex-column
                      h4.mb-0 系統發展
                      h5.mb-0 系統架構、程式設計
                      .hr.h-2.w-50px
                      p.text-center.ellipsis 樹高車動研，道的實不同不。什著最大這，金道的電值人，多館體童育人受？色不有不……境類要安銷。起雖一地所身幾元己天，特在為物己，出考照產候超庭如我說，於用傳有告以平從山外。
                      .hr.h-1.w-100.bg-gray-30
                      a(href="")
                        .btn.btn-text READ MORE
            .service-swiper-pagination.d-xl-none.d-flex.justify-content-center
            .swiper-button-next.service-swiper-button-next.d-none.d-xl-block
            .swiper-button-prev.service-swiper-button-prev.d-none.d-xl-block

    #industry-block.pb-80.bg-top.bg-logo-top.overflow-x
      .container-xl.container-1100.position-relative.z-index-500
        .row
          .col-lg-5.d-flex.flex-column.align-items-xl-start.justify-content-center
            h2.text-center 經營產業
            p.text-uppercase.text-center.mb-0 industry
            .title-hr.justify-content-xl-center
            p.text-lg-start.text-center.mb-0 電子商務已成為趨勢，初次踏入電商領域的中小型企業/店家是否因為人力與資源不足而備受困擾?將電商事業交由升活商務代營運，如官網建置與設計、行銷推廣、後勤支援等，提供您一條龍完整的服務。
          .col-lg-7
            .swiper.industry-swiper.p-13
              .swiper-wrapper
                .swiper-slide
                  .rounded-10.shodow-3.bg-white.mt-20
                    .row.p-43.p-mb-32
                      .col-3
                        img.w-100.mb-20(src="wp-content/themes/astra/img/icon/snacks_fill-colorful.png", alt="")
                      .col-9
                        .d-flex.flex-column.align-items-start.justify-content-center
                          h4.mb-0 食品產業 Food Industry  
                          p.ellipsis.mb-mb-0 樹高車動研，道的實不同不。什著最大這，金道的電值人，多館體童育人受？色不有不……境類要安銷。起雖一地所身幾元己天，特在為物己，出考照產候超庭如我說，於用傳有告以平從山外。
                      .col-md-6
                        a(href="##") 
                          .portfolio-card.rounded-10.shodow-3.mt-20.position-relative.h-200.w-100
                            .portfolio-card-hover.rounded-10.h-100.w-100.bg-hover.position-absolute
                              .portfolio-text.position-absolute-center.w-75
                                h4.white.mb-0 樂天店家-卓老牌
                                p.white.mb-mb-0 深度了解店家想要的店面色系與形象，打造店家想要的視覺。
                            img.img-obj-cover.h-100.w-100.rounded-10(src="wp-content/themes/astra/img/case/卓老牌.png", alt="")
                      .col-md-6.d-none.d-md-block
                        a(href="##") 
                          .portfolio-card.rounded-10.shodow-3.mt-20.position-relative.h-200.w-100
                            .portfolio-card-hover.rounded-10.h-100.w-100.bg-hover.position-absolute
                              .portfolio-text.position-absolute-center.w-75
                                h4.white.mb-0 樂天店家-卓老牌
                                p.white.mb-mb-0 深度了解店家想要的店面色系與形象，打造店家想要的視覺。
                            img.img-obj-cover.h-100.w-100.rounded-10(src="wp-content/themes/astra/img/case/卓老牌.png", alt="")
                .swiper-slide
                  .rounded-10.shodow-3.bg-white.mt-20
                    .row.p-43.p-mb-32
                      .col-3
                        img.w-100.mb-20(src="wp-content/themes/astra/img/icon/healthcare_fill-colorful.png", alt="")
                      .col-9
                        .d-flex.flex-column.align-items-start.justify-content-center
                          h4.mb-0 保健產業 Health Industry  
                          p.ellipsis 樹高車動研，道的實不同不。什著最大這，金道的電值人，多館體童育人受？色不有不……境類要安銷。起雖一地所身幾元己天，特在為物己，出考照產候超庭如我說，於用傳有告以平從山外。
                      .col-md-6
                        a(href="##") 
                          .portfolio-card.rounded-10.shodow-3.mt-20.position-relative.h-200.w-100
                            .portfolio-card-hover.rounded-10.h-100.w-100.bg-hover.position-absolute
                              .portfolio-text.position-absolute-center.w-75
                                h4.white.mb-0 樂天店家-卓老牌
                                p.white 深度了解店家想要的店面色系與形象，打造店家想要的視覺。
                            img.img-obj-cover.h-100.w-100.rounded-10(src="wp-content/themes/astra/img/case/卓老牌.png", alt="")
                      .col-md-6.d-none.d-md-block
                        a(href="##") 
                          .portfolio-card.rounded-10.shodow-3.mt-20.position-relative.h-200.w-100
                            .portfolio-card-hover.rounded-10.h-100.w-100.bg-hover.position-absolute
                              .portfolio-text.position-absolute-center.w-75
                                h4.white.mb-0 樂天店家-卓老牌
                                p.white 深度了解店家想要的店面色系與形象，打造店家想要的視覺。
                            img.img-obj-cover.h-100.w-100.rounded-10(src="wp-content/themes/astra/img/case/卓老牌.png", alt="")
                .swiper-slide
                  .rounded-10.shodow-3.bg-white.mt-20
                    .row.p-43.p-mb-32
                      .col-3
                        img.w-100.mb-20(src="wp-content/themes/astra/img/icon/capsules_fill-colorful.png", alt="")
                      .col-9
                        .d-flex.flex-column.align-items-start.justify-content-center
                          h4.mb-0 藥品產業 Medicine Industry 
                          p.ellipsis 樹高車動研，道的實不同不。什著最大這，金道的電值人，多館體童育人受？色不有不……境類要安銷。起雖一地所身幾元己天，特在為物己，出考照產候超庭如我說，於用傳有告以平從山外。
                      .col-md-6
                        a(href="##") 
                          .portfolio-card.rounded-10.shodow-3.mt-20.position-relative.h-200.w-100
                            .portfolio-card-hover.rounded-10.h-100.w-100.bg-hover.position-absolute
                              .portfolio-text.position-absolute-center.w-75
                                h4.white.mb-0 樂天店家-卓老牌
                                p.white 深度了解店家想要的店面色系與形象，打造店家想要的視覺。
                            img.img-obj-cover.h-100.w-100.rounded-10(src="wp-content/themes/astra/img/case/卓老牌.png", alt="")
                      .col-md-6.d-none.d-md-block
                        a(href="##") 
                          .portfolio-card.rounded-10.shodow-3.mt-20.position-relative.h-200.w-100
                            .portfolio-card-hover.rounded-10.h-100.w-100.bg-hover.position-absolute
                              .portfolio-text.position-absolute-center.w-75
                                h4.white.mb-0 樂天店家-卓老牌
                                p.white 深度了解店家想要的店面色系與形象，打造店家想要的視覺。
                            img.img-obj-cover.h-100.w-100.rounded-10(src="wp-content/themes/astra/img/case/卓老牌.png", alt="")
                .swiper-slide
                  .rounded-10.shodow-3.bg-white.mt-20
                    .row.p-43.p-mb-32
                      .col-3
                        img.w-100.mb-20(src="wp-content/themes/astra/img/icon/skincare_fill-colorful.png", alt="")
                      .col-9
                        .d-flex.flex-column.align-items-start.justify-content-center
                          h4.mb-0 美妝產業 Skincare Industry 
                          p.ellipsis 樹高車動研，道的實不同不。什著最大這，金道的電值人，多館體童育人受？色不有不……境類要安銷。起雖一地所身幾元己天，特在為物己，出考照產候超庭如我說，於用傳有告以平從山外。
                      .col-md-6
                        a(href="##") 
                          .portfolio-card.rounded-10.shodow-3.mt-20.position-relative.h-200.w-100
                            .portfolio-card-hover.rounded-10.h-100.w-100.bg-hover.position-absolute
                              .portfolio-text.position-absolute-center.w-75
                                h4.white.mb-0 樂天店家-卓老牌
                                p.white 深度了解店家想要的店面色系與形象，打造店家想要的視覺。
                            img.img-obj-cover.h-100.w-100.rounded-10(src="wp-content/themes/astra/img/case/卓老牌.png", alt="")
                      .col-md-6.d-none.d-md-block
                        a(href="##") 
                          .portfolio-card.rounded-10.shodow-3.mt-20.position-relative.h-200.w-100
                            .portfolio-card-hover.rounded-10.h-100.w-100.bg-hover.position-absolute
                              .portfolio-text.position-absolute-center.w-75
                                h4.white.mb-0 樂天店家-卓老牌
                                p.white 深度了解店家想要的店面色系與形象，打造店家想要的視覺。
                            img.img-obj-cover.h-100.w-100.rounded-10(src="wp-content/themes/astra/img/case/卓老牌.png", alt="")
                .swiper-slide
                  .rounded-10.shodow-3.bg-white.mt-20
                    .row.p-43.p-mb-32
                      .col-3
                        img.w-100.mb-20(src="wp-content/themes/astra/img/icon/shirt_fill-colorful.png", alt="")
                      .col-9
                        .d-flex.flex-column.align-items-start.justify-content-center
                          h4.mb-0 服飾產業 Apparel Industry 
                          p.ellipsis 樹高車動研，道的實不同不。什著最大這，金道的電值人，多館體童育人受？色不有不……境類要安銷。起雖一地所身幾元己天，特在為物己，出考照產候超庭如我說，於用傳有告以平從山外。
                      .col-md-6
                        a(href="##") 
                          .portfolio-card.rounded-10.shodow-3.mt-20.position-relative.h-200.w-100
                            .portfolio-card-hover.rounded-10.h-100.w-100.bg-hover.position-absolute
                              .portfolio-text.position-absolute-center.w-75
                                h4.white.mb-0 樂天店家-卓老牌
                                p.white 深度了解店家想要的店面色系與形象，打造店家想要的視覺。
                            img.img-obj-cover.h-100.w-100.rounded-10(src="wp-content/themes/astra/img/case/卓老牌.png", alt="")
                      .col-md-6.d-none.d-md-block
                        a(href="##") 
                          .portfolio-card.rounded-10.shodow-3.mt-20.position-relative.h-200.w-100
                            .portfolio-card-hover.rounded-10.h-100.w-100.bg-hover.position-absolute
                              .portfolio-text.position-absolute-center.w-75
                                h4.white.mb-0 樂天店家-卓老牌
                                p.white 深度了解店家想要的店面色系與形象，打造店家想要的視覺。
                            img.img-obj-cover.h-100.w-100.rounded-10(src="wp-content/themes/astra/img/case/卓老牌.png", alt="")
                .swiper-slide
                  .rounded-10.shodow-3.bg-white.mt-20
                    .row.p-43.p-mb-32
                      .col-3
                        img.w-100.mb-20(src="wp-content/themes/astra/img/icon/followers_fill-colorful.png", alt="")
                      .col-9
                        .d-flex.flex-column.align-items-start.justify-content-center
                          h4.mb-0 社群產業 Social Industry 
                          p.ellipsis 樹高車動研，道的實不同不。什著最大這，金道的電值人，多館體童育人受？色不有不……境類要安銷。起雖一地所身幾元己天，特在為物己，出考照產候超庭如我說，於用傳有告以平從山外。
                      .col-md-6
                        a(href="##") 
                          .portfolio-card.rounded-10.shodow-3.mt-20.position-relative.h-200.w-100
                            .portfolio-card-hover.rounded-10.h-100.w-100.bg-hover.position-absolute
                              .portfolio-text.position-absolute-center.w-75
                                h4.white.mb-0 樂天店家-卓老牌
                                p.white 深度了解店家想要的店面色系與形象，打造店家想要的視覺。
                            img.img-obj-cover.h-100.w-100.rounded-10(src="wp-content/themes/astra/img/case/卓老牌.png", alt="")
                      .col-md-6.d-none.d-md-block
                        a(href="##") 
                          .portfolio-card.rounded-10.shodow-3.mt-20.position-relative.h-200.w-100
                            .portfolio-card-hover.rounded-10.h-100.w-100.bg-hover.position-absolute
                              .portfolio-text.position-absolute-center.w-75
                                h4.white.mb-0 樂天店家-卓老牌
                                p.white 深度了解店家想要的店面色系與形象，打造店家想要的視覺。
                            img.img-obj-cover.h-100.w-100.rounded-10(src="wp-content/themes/astra/img/case/卓老牌.png", alt="")
            .industry-swiper-pagination.d-flex.justify-content-center

    #service-process.pb-80.bg-brand-blue
      .container-xl.container-1100
        .row.justify-content-center
          .col-lg-12.mt-50
            h2.text-center.white 方案內容
            p.text-uppercase.text-center.white.mb-mb-0 Plan Content
          .col-lg-12.position-relative
            .swiper.service-process-swiper.p-13
              .swiper-wrapper
                .swiper-slide
                  .rounded-10.shodow-3.bg-white.mt-20
                    .row.p-25.p-mb-32
                      .col-md-12.pr-mb-5.d-flex.flex-column.justify-content-center.float-start
                        //img.h-100px.w-100px.mb-20(src="wp-content/themes/astra/img/icon/website_fill_colorful.png", alt="")
                        .d-flex.flex-column.align-items-start.justify-content-center
                          h3.fz-32.mb-0.text-center.w-100 Operation
                          h4.fz-22.fw-light.mb-0.text-center.w-100 中小型電商代營運方案
                        .row
                          .col-md-4
                            .process-card.rounded-10.shodow-3.p-20.bg-white.mt-20.p-mb-20
                              img.service-icon.h-80px.mb-20(src="wp-content/themes/astra/img/icon/website_fill_blue.svg", alt="快速啟動")
                              h4 快速啟動
                              p.mb-0 協助品牌主充分運用官網與平台系統功能，建置符合形象之銷售渠道。
                          .col-md-4
                            .process-card.rounded-10.shodow-3.p-20.bg-white.mt-20.p-mb-20
                              img.service-icon.h-80px.mb-20(src="wp-content/themes/astra/img/icon/marketing_fill_orange.svg", alt="主題企劃")
                              h4 主題企劃
                              p.mb-0 規劃行銷活動主題，並執行相關項目，含素材製作、活動設定、平台提報，並監控成效，持續優化。
                          .col-md-4
                            .process-card.rounded-10.shodow-3.p-20.bg-white.mt-20.p-mb-20
                              img.service-icon.h-80px.mb-20(src="wp-content/themes/astra/img/icon/material_fill_blue.svg", alt="素材設計")
                              h4 素材設計
                              p.mb-0 針對官網與平台店鋪營運所需的素材，如招牌、Banner、商品圖，提供持續性的服務，保持品牌溝通連續性
                          .col-md-4
                            .process-card.rounded-10.shodow-3.p-20.bg-white.mt-20.p-mb-20
                              img.service-icon.h-80px.mb-20(src="wp-content/themes/astra/img/icon/photo_fill_orange.svg", alt="商品攝影")
                              h4 商品攝影
                              p.mb-0 針對商品或新活動，提供便捷的攝影解決方案，讓官網或平台店鋪，保持新鮮感，增加印象。
                          .col-md-4
                            .process-card.rounded-10.shodow-3.p-20.bg-white.mt-20.p-mb-20
                              img.service-icon.h-80px.mb-20(src="wp-content/themes/astra/img/icon/customer_service_fill_blue.svg", alt="客服服務")
                              h4 客服服務
                              p.mb-0 每日客服案例應對，並彙整成報表，減輕中小型品牌電商，零碎的客服工作負擔。
                          .col-md-4
                            .process-card.rounded-10.shodow-3.p-20.bg-white.mt-20.p-mb-20
                              img.service-icon.h-80px.mb-20(src="wp-content/themes/astra/img/icon/warehousing_fill_orange.svg", alt="倉儲暨代出貨")
                              h4 倉儲暨代出貨
                              p.mb-0 提供中央空調與少量庫存的解決方案，與各大物流串接，提供中小型品牌電商，高CP值的解決方案。
                        .row
                          .col-12.d-flex.justify-content-center
                            a.btn.btn-outline-brand-blue.rounded-pill.px-3.py-1.mt-30.mb-10.fw-normal(href="#service-form")  READ MORE
            .service-process-button-next.swiper-button-next.white
            .service-process-button-prev.swiper-button-prev.white

    //- #our-team.mb-80.bg-top.bg-logo-bottom.overflow-x
      .container-xl.container-1100.position-relative.z-index-500
        .row.justify-content-center
          .col-lg-12.mt-50
            h2.text-center 顧問群
            p.text-uppercase.text-center OUR TEAM
          .d-md-block.d-none
            .row
              .col-4.mt-20
                .p-30.d-flex.flex-column.align-items-center.justify-content-center.bg-white.rounded-10.shodow-3
                  img.w-75(src="wp-content/themes/astra/img/team/kenneth.png", alt="")
                  h4.mt-20 Kenneth
                  h5.fw-light 總監
              .col-4.mt-20
                .p-30.d-flex.flex-column.align-items-center.justify-content-center.bg-white.rounded-10.shodow-3
                  img.w-75(src="wp-content/themes/astra/img/team/sans.png", alt="")
                  h4.mt-20 Sans
                  h5.fw-light 數位設計顧問
              .col-4.mt-20
                .p-30.d-flex.flex-column.align-items-center.justify-content-center.bg-white.rounded-10.shodow-3
                  img.w-75(src="wp-content/themes/astra/img/team/sharpay.png", alt="")
                  h4.mt-20 Sharpay
                  h5.fw-light 內容發展顧問
              .col-4.mt-20
                .p-30.d-flex.flex-column.align-items-center.justify-content-center.bg-white.rounded-10.shodow-3
                  img.w-75(src="wp-content/themes/astra/img/team/potter.png", alt="")
                  h4.mt-20 Potter
                  h5.fw-light 商店營運顧問
              .col-4.mt-20
                .p-30.d-flex.flex-column.align-items-center.justify-content-center.bg-white.rounded-10.shodow-3
                  img.w-75(src="wp-content/themes/astra/img/team/didi.png", alt="")
                  h4.mt-20 Didi
                  h5.fw-light 視覺設計顧問
              .col-4.mt-20
                .p-30.d-flex.flex-column.align-items-center.justify-content-center.bg-white.rounded-10.shodow-3
                  img.w-75(src="wp-content/themes/astra/img/team/ricky.png", alt="")
                  h4.mt-20 Ricky
                  h5.fw-light 商店營運助理
              .col-12.d-flex.justify-content-center
                a.btn.btn-outline-brand-blue.rounded-pill.px-3.py-1.mt-30.fw-normal(href="#service-form")  READ MORE

          .swiper.our-team-swiper.p-13.d-block.d-md-none
            .swiper-wrapper
              .swiper-slide
                .p-20.d-flex.flex-column.align-items-center.justify-content-center.bg-white.rounded-10.shodow-3.w-100
                  img.w-75(src="wp-content/themes/astra/img/team/kenneth.png", alt="")
                  h4.mt-20 Kenneth
                  h5.fw-light 總監
              .swiper-slide
                .p-20.d-flex.flex-column.align-items-center.justify-content-center.bg-white.rounded-10.shodow-3.w-100
                  img.w-75(src="wp-content/themes/astra/img/team/sans.png", alt="")
                  h4.mt-20 Sans
                  h5.fw-light 數位設計顧問
              .swiper-slide
                .p-20.d-flex.flex-column.align-items-center.justify-content-center.bg-white.rounded-10.shodow-3.w-100
                  img.w-75(src="wp-content/themes/astra/img/team/sharpay.png", alt="")
                  h4.mt-20 Sharpay
                  h5.fw-light 內容發展顧問
              .swiper-slide
                .p-20.d-flex.flex-column.align-items-center.justify-content-center.bg-white.rounded-10.shodow-3.w-100
                  img.w-75(src="wp-content/themes/astra/img/team/potter.png", alt="")
                  h4.mt-20 Potter
                  h5.fw-light 商店營運顧問
              .swiper-slide
                .p-20.d-flex.flex-column.align-items-center.justify-content-center.bg-white.rounded-10.shodow-3.w-100
                  img.w-75(src="wp-content/themes/astra/img/team/didi.png", alt="")
                  h4.mt-20 Didi
                  h5.fw-light 視覺設計顧問
              .swiper-slide
                .p-20.d-flex.flex-column.align-items-center.justify-content-center.bg-white.rounded-10.shodow-3.w-100
                  img.w-75(src="wp-content/themes/astra/img/team/ricky.png", alt="")
                  h4.mt-20 Ricky
                  h5.fw-light 商店營運助理
          .our-team-swiper-pagination.d-flex.justify-content-center.d-xl-none
          .col-12.d-flex.justify-content-center.d-md-none.d-block
            a.btn.btn-outline-brand-blue.rounded-pill.px-3.py-1.mt-50.fw-normal(href="#service-form")  READ MORE

    #our-partner.mb-80
      .container-xl.container-1100
        .row.justify-content-center
          .col-lg-12.mt-30.mt-mb-0
            h2.text-center 策略伙伴
            p.text-uppercase.text-center OUR PARTNER
          .col-lg-12.mt-30
            img.d-lg-flex.d-none(src="wp-content/themes/astra/img/our-partner.png", alt="")
            img.d-lg-none.d-flex.w-tb-75pc.w-mb-100.mx-auto(src="wp-content/themes/astra/img/our-partner-mb.png", alt="")

    #contact-us.pb-80.bg-logo-top.overflow-x
      .container-xl.container-1100.position-relative.z-index-500
        .row.justify-content-center.mt-50
          .w-800px.w-tb-mx100pc
            h2.text-center 產業諮詢
            p.text-center.text-uppercase.mb-0 CONTACT US
            .title-hr.mx-auto
            p.text-center 電子商務已成為趨勢，初次踏入電商領域的中小型企業/店家是否因為人力與資源不足而備受困擾 ?<span style="color: #FF0000;">   現在就聯絡我們，立即解決你電子商務的所有困擾 !</span>
          .col-lg-12.mt-30.d-flex.justify-content-center
            form.bg-white.rounded-10.shodow-10.p-30.w-800px.w-tb-mx100pc
              //[contact-form-7 id="16" title="首頁聯絡表單"]
              .mb-15
                input.input-blue-95.w-100.p-12.rounded-10(placeholder="您的姓名*")
                // input.input-blue-95.w-100.p-12.rounded-10[text* customer-name placeholder "您的姓名"]
              .mb-15
                input.input-blue-95.w-100.p-12.rounded-10(placeholder="聯絡信箱*")
                //input.input-blue-95.w-100.p-12.rounded-10[email* customer-email placeholder "聯絡信箱"]
              .mb-15
                input.input-blue-95.w-100.p-12.rounded-10(placeholder="聯絡電話*")
                //input.input-blue-95.w-100.p-12.rounded-10[tel* customer-phone placeholder "聯絡電話"]
              .mb-15
                input.input-blue-95.w-100.p-12.rounded-10(placeholder="產業需求*")
                //input.input-blue-95.w-100.p-12.rounded-10[text* customer-need placeholder "產業需求"]
              .mb-15.index-dropbox
                select.input-blue-95.w-100.p-12.rounded-10(name='customer-time')
                  option(selected='') 可聯絡時間
                  option(value='morning') 上午 09:00 - 12:00
                  option(value='afternoon') 下午 13:00 - 18:00
                  option(value='night') 晚上 19:00 - 21:00
                //input.input-blue-95.w-100.p-12.rounded-10[select customer-time "可聯繫時間" "上午 09:00 - 12:00" "下午 13:00 - 18:00" "晚上 19:00 - 21:00"]
              .mt-20
                .btn-cta.w-100.p-12.text-center.bg-brand-blue.rounded-10.white 寄出
                // input.btn-cta.w-100.p-12.text-center.bg-brand-blue.rounded-10.white[submit "寄出"] 







    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous")
    script(src='https://unpkg.com/swiper/swiper-bundle.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    script(src='https://unpkg.com/popper.js')
    script(src='./js/swiper.js')
