doctype 
html
  head
    meta(charset='UTF-8')
    title 升活商務顧問有限公司 - Lifeupdate
    meta(name='description' content='提供的服務由電子商務代營運出發，依據市場情報，實戰經驗，搭配數據實證，為客戶提供全方位的商務解決方案。')
    link(rel='icon' href='./img/favicon.svg' type='image/x-icon')
    meta(property='og:image' content='./img/ogimage.jpg')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous")
    link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet")  
    link(href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet")
    link(rel='stylesheet' href='./css/style.css')

  body
    #index-banner.vh-100.position-relative
      .container-xl.container-1100.d-flex.h-100.align-items-center.justify-content-center.index-banner-block
        .row
          .col-lg-12.d-flex.flex-column.align-items-center.justify-content-center.z-index-500.position-relative
            h2.text-uppercase.white 打造品牌商業模式
            p.w-60pc.w-mb-100pc.text-center.mt-10.white 提供的服務由電子商務代營運出發，依據市場情報，實戰經驗，搭配數據實證，為客戶提供全方位的商務解決方案。
            a.btn.btn-cta.bg-brand-orange.rounded-pill.p-12(href="#contact-us") 
              h5.white.mb-0 立即洽詢

    #service-block.py-58.bg-bottom.bg-logo-bottom.overflow-x
      .container-xl.container-1100.position-relative.z-index-500
        .row.justify-content-center
          .col-lg-12
            h2.text-center 主要服務
            p.text-uppercase.text-center.mb-mb-0 MAIN SERVICE
          .col-lg-12.position-relative
            .swiper.service-swiper.p-13
              .swiper-wrapper
                .swiper-slide
                  .rounded-10.shodow-3.bg-white.mt-20
                    img.w-100.h-250.img-obj-cover.rounded-10-10-0-0(src="http://lifeupdate.com.tw/wp-content/themes/astra/img/illustrator/2.5d/設計創意.jpg", alt="")
                    .p-23.d-flex.align-items-center.justify-content-center.flex-column
                      h4.mb-0 設計創意
                      .hr.h-2.w-50px
                      p.text-center.ellipsis UI/UX、影音
                .swiper-slide
                  .rounded-10.shodow-3.bg-white.mt-20
                    img.w-100.h-250.img-obj-cover.rounded-10-10-0-0(src="http://lifeupdate.com.tw/wp-content/themes/astra/img/illustrator/2.5d/成效優化.jpg", alt="")
                    .p-23.d-flex.align-items-center.justify-content-center.flex-column
                      h4.mb-0 成效優化
                      .hr.h-2.w-50px
                      p.text-center.ellipsis 成效型廣告、SEO
                .swiper-slide
                  .rounded-10.shodow-3.bg-white.mt-20
                    img.w-100.h-250.img-obj-cover.rounded-10-10-0-0(src="http://lifeupdate.com.tw/wp-content/themes/astra/img/illustrator/2.5d/商店營運.jpg", alt="")
                    .p-23.d-flex.align-items-center.justify-content-center.flex-column
                      h4.mb-0 商店營運
                      .hr.h-2.w-50px
                      p.text-center.ellipsis 客服
                .swiper-slide
                  .rounded-10.shodow-3.bg-white.mt-20
                    img.w-100.h-250.img-obj-cover.rounded-10-10-0-0(src="http://lifeupdate.com.tw/wp-content/themes/astra/img/illustrator/2.5d/內容發展.jpg", alt="")
                    .p-23.d-flex.align-items-center.justify-content-center.flex-column
                      h4.mb-0 內容發展
                      .hr.h-2.w-50px
                      p.text-center.ellipsis 自媒體、KOL
                .swiper-slide
                  .rounded-10.shodow-3.bg-white.mt-20
                    img.w-100.h-250.img-obj-cover.rounded-10-10-0-0(src="http://lifeupdate.com.tw/wp-content/themes/astra/img/illustrator/2.5d/倉儲出貨.jpg", alt="")
                    .p-23.d-flex.align-items-center.justify-content-center.flex-column
                      h4.mb-0 倉儲出貨
                      h5.mb-0 都會型倉儲、代出貨
                      p.text-center.ellipsis 都會型倉儲、代出貨
                .swiper-slide
                  .rounded-10.shodow-3.bg-white.mt-20
                    img.w-100.h-250.img-obj-cover.rounded-10-10-0-0(src="http://lifeupdate.com.tw/wp-content/themes/astra/img/illustrator/2.5d/系統發展.jpg", alt="")
                    .p-23.d-flex.align-items-center.justify-content-center.flex-column
                      h4.mb-0 系統發展
                      .hr.h-2.w-50px
                      p.text-center.ellipsis 系統架構、程式設計
            .service-swiper-pagination.d-xl-none.d-flex.justify-content-center
            .swiper-button-next.service-swiper-button-next.d-none.d-xl-block
            .swiper-button-prev.service-swiper-button-prev.d-none.d-xl-block

    #service-process.pb-80.bg-brand-blue
      .container-xl.container-1100
        .row.justify-content-center
          .col-lg-12.mt-50
            h2.text-center.white 方案內容
            p.text-uppercase.text-center.white.mb-mb-0 Plan Content
          .col-lg-12.position-relative
            .swiper.service-process-swiper.p-13
              .swiper-wrapper
                .swiper-slide
                  .rounded-10.shodow-3.bg-white.mt-20
                    .row.p-25.p-mb-32
                      .col-md-12.pr-mb-5.d-flex.flex-column.justify-content-center.float-start
                        //img.h-100px.w-100px.mb-20(src="http://lifeupdate.com.tw/wp-content/themes/astra/img/icon/website_fill_colorful.png", alt="")
                        .d-flex.flex-column.align-items-start.justify-content-center
                          h3.fz-32.mb-0.text-center.w-100 Operation
                          h4.fz-22.fw-light.mb-0.text-center.w-100 中小型電商代營運方案
                        .row
                          .col-md-4
                            .process-card.rounded-10.shodow-3.p-20.bg-white.mt-20.p-mb-20
                              img.service-icon.h-80px.mb-20(src="http://lifeupdate.com.tw/wp-content/themes/astra/img/icon/website_fill_colorful.png", alt="")
                              h4 快速啟動
                              p.mb-0 協助品牌主充分運用官網與平台系統功能，建置符合形象之銷售渠道。
                          .col-md-4
                            .process-card.rounded-10.shodow-3.p-20.bg-white.mt-20.p-mb-20
                              img.service-icon.h-80px.mb-20(src="http://lifeupdate.com.tw/wp-content/themes/astra/img/icon/marketing_fill_colorful.png", alt="")
                              h4 主題企劃
                              p.mb-0 規劃行銷活動主題，並執行相關項目，含素材製作、活動設定、平台提報，並監控成效，持續優化。
                          .col-md-4
                            .process-card.rounded-10.shodow-3.p-20.bg-white.mt-20.p-mb-20
                              img.service-icon.h-80px.mb-20(src="http://lifeupdate.com.tw/wp-content/themes/astra/img/icon/marketing_fill_colorful.png", alt="")
                              h4 素材設計
                              p.mb-0 針對官網與平台店鋪營運所需的素材，如招牌、Banner、商品圖，提供持續性的服務，保持品牌溝通連續性
                          .col-md-4
                            .process-card.rounded-10.shodow-3.p-20.bg-white.mt-20.p-mb-20
                              img.service-icon.h-80px.mb-20(src="http://lifeupdate.com.tw/wp-content/themes/astra/img/icon/photo_fill_colorful.png", alt="")
                              h4 商品攝影
                              p.mb-0 針對商品或新活動，提供便捷的攝影解決方案，讓官網或平台店鋪，保持新鮮感，增加印象。
                          .col-md-4
                            .process-card.rounded-10.shodow-3.p-20.bg-white.mt-20.p-mb-20
                              img.service-icon.h-80px.mb-20(src="http://lifeupdate.com.tw/wp-content/themes/astra/img/icon/customer_service__fill_colorful.png", alt="")
                              h4 客服服務
                              p.mb-0 每日客服案例應對，並彙整成報表，減輕中小型品牌電商，零碎的客服工作負擔。
                          .col-md-4
                            .process-card.rounded-10.shodow-3.p-20.bg-white.mt-20.p-mb-20
                              img.service-icon.h-80px.mb-20(src="http://lifeupdate.com.tw/wp-content/themes/astra/img/icon/Warehousing_fill_colorful.png", alt="")
                              h4 倉儲暨代出貨
                              p.mb-0 提供中央空調與少量庫存的解決方案，與各大物流串接，提供中小型品牌電商，高CP值的解決方案。
                        .row
                          .col-12.d-flex.justify-content-center
                            a.btn.btn-outline-brand-blue.rounded-pill.px-3.py-1.mt-30.mb-10.fw-normal(href="#service-form")  READ MORE
            .service-process-button-next.swiper-button-next.white
            .service-process-button-prev.swiper-button-prev.white

    #our-team.mb-80.bg-top.bg-logo-bottom.overflow-x
      .container-xl.container-1100.position-relative.z-index-500
        .row.justify-content-center
          .col-lg-12.mt-50
            h2.text-center 顧問群
            p.text-uppercase.text-center OUR TEAM
          .d-md-block.d-none
            .row
              .col-4.mt-20
                .p-30.d-flex.flex-column.align-items-center.justify-content-center.bg-white.rounded-10.shodow-3
                  img.w-75(src="https://lifeupdate.com.tw/wp-content/uploads/2021/04/Kenneth.png", alt="")
                  h4.mt-20 Kenneth
                  h5.fw-light.mt--10 總監
              .col-4.mt-20
                .p-30.d-flex.flex-column.align-items-center.justify-content-center.bg-white.rounded-10.shodow-3
                  img.w-75(src="https://lifeupdate.com.tw/wp-content/uploads/2019/07/sans.png", alt="")
                  h4.mt-20 Sans
                  h5.fw-light.mt--10 數位設計顧問
              .col-4.mt-20
                .p-30.d-flex.flex-column.align-items-center.justify-content-center.bg-white.rounded-10.shodow-3
                  img.w-75(src="https://lifeupdate.com.tw/wp-content/uploads/2021/04/Sharpay.png", alt="")
                  h4.mt-20 Sharpay
                  h5.fw-light.mt--10 內容發展顧問
              .col-4.mt-20
                .p-30.d-flex.flex-column.align-items-center.justify-content-center.bg-white.rounded-10.shodow-3
                  img.w-75(src="https://lifeupdate.com.tw/wp-content/uploads/2021/12/POTTER.png", alt="")
                  h4.mt-20 Potter
                  h5.fw-light.mt--10 商店營運顧問
              .col-4.mt-20
                .p-30.d-flex.flex-column.align-items-center.justify-content-center.bg-white.rounded-10.shodow-3
                  img.w-75(src="https://lifeupdate.com.tw/wp-content/uploads/2021/04/DiDi.png", alt="")
                  h4.mt-20 Didi
                  h5.fw-light.mt--10 視覺設計顧問
              .col-4.mt-20
                .p-30.d-flex.flex-column.align-items-center.justify-content-center.bg-white.rounded-10.shodow-3
                  img.w-75(src="https://lifeupdate.com.tw/wp-content/uploads/2021/12/Ricky.png", alt="")
                  h4.mt-20 Ricky
                  h5.fw-light.mt--10 商店營運助理
              .col-12.d-flex.justify-content-center
                a.btn.btn-outline-brand-blue.rounded-pill.px-3.py-1.mt-30.fw-normal(href="#service-form")  READ MORE

          .swiper.our-team-swiper.p-13.d-block.d-md-none
            .swiper-wrapper
              .swiper-slide
                .p-20.d-flex.flex-column.align-items-center.justify-content-center.bg-white.rounded-10.shodow-3.w-100
                  img.w-75(src="https://lifeupdate.com.tw/wp-content/uploads/2021/04/Kenneth.png", alt="")
                  h4.mt-20 Kenneth
                  h5.fw-light.mt--10 總監
              .swiper-slide
                .p-20.d-flex.flex-column.align-items-center.justify-content-center.bg-white.rounded-10.shodow-3.w-100
                  img.w-75(src="https://lifeupdate.com.tw/wp-content/uploads/2019/07/sans.png", alt="")
                  h4.mt-20 Sans
                  h5.fw-light.mt--10 數位設計顧問
              .swiper-slide
                .p-20.d-flex.flex-column.align-items-center.justify-content-center.bg-white.rounded-10.shodow-3.w-100
                  img.w-75(src="https://lifeupdate.com.tw/wp-content/uploads/2021/04/Sharpay.png", alt="")
                  h4.mt-20 Sharpay
                  h5.fw-light.mt--10 內容發展顧問
              .swiper-slide
                .p-20.d-flex.flex-column.align-items-center.justify-content-center.bg-white.rounded-10.shodow-3.w-100
                  img.w-75(src="https://lifeupdate.com.tw/wp-content/uploads/2021/12/POTTER.png", alt="")
                  h4.mt-20 Potter
                  h5.fw-light.mt--10 商店營運顧問
              .swiper-slide
                .p-20.d-flex.flex-column.align-items-center.justify-content-center.bg-white.rounded-10.shodow-3.w-100
                  img.w-75(src="https://lifeupdate.com.tw/wp-content/uploads/2021/04/DiDi.png", alt="")
                  h4.mt-20 Didi
                  h5.fw-light.mt--10 視覺設計顧問
              .swiper-slide
                .p-20.d-flex.flex-column.align-items-center.justify-content-center.bg-white.rounded-10.shodow-3.w-100
                  img.w-75(src="https://lifeupdate.com.tw/wp-content/uploads/2021/12/Ricky.png", alt="")
                  h4.mt-20 Ricky
                  h5.fw-light.mt--10 商店營運助理
          .our-team-swiper-pagination.d-flex.justify-content-center.d-xl-none
          .col-12.d-flex.justify-content-center.d-md-none.d-block
            a.btn.btn-outline-brand-blue.rounded-pill.px-3.py-1.mt-50.fw-normal(href="#service-form")  READ MORE

    #our-partner.mb-80
      .container-xl.container-1100
        .row.justify-content-center
          .col-lg-12.mt-50.mt-mb-0
            h2.text-center 策略伙伴
            p.text-uppercase.text-center OUR PARTNER
          .col-lg-12
            img.d-lg-flex.d-none(src="http://lifeupdate.com.tw/wp-content/themes/astra/img/our-partner.png", alt="")
            img.d-lg-none.d-flex.w-tb-75pc.w-mb-100.mx-auto(src="http://lifeupdate.com.tw/wp-content/themes/astra/img/our-partner-mb.png", alt="")

    #contact-us.container-xl.container-1100.position-relative.z-index-500.pb-80
      .row.justify-content-center
        .col-lg-12.mt-80
          h2.text-center 透過聯絡表單聯繫我們
          p.text-uppercase.text-center CONTACT FORM
        .col-lg-12
          .p-30.rounded-10.shodow-10.p-mb-0.bg-white
            .row
              .col-md-6
                iframe.rounded-10.h-mb-250(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.8034671725595!2d121.56162161500644!3d25.040742883969298!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abb913f9c6bb%3A0xc28112f19f5ae44c!2zMTEw5Y-w5YyX5biC5L-h576p5Y2A5b-g5a2d5p2x6Lev5Zub5q61NTYw6JmfOOaokw!5e0!3m2!1szh-TW!2stw!4v1644389202538!5m2!1szh-TW!2stw" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy")
              .col-md-6.service-form-block.pl-20.p-mb-23
                //[contact-form-7 id="175" title="Contact Us"]
                .mb-15
                  label.fz-18(for='customer-name') 姓名
                    span.red *
                  input.input-blue-95.w-100.p-12.rounded-10(placeholder="請輸入您的姓名")
                  // [text* customer-name class:input-blue-95 class:w-100 class:p-12 class:rounded-10 placeholder "請輸入您的姓名"]
                .mb-15
                  label.fz-18(for='customer-email') 信箱
                    span.red *
                  input.input-blue-95.w-100.p-12.rounded-10(placeholder="請輸入您的信箱")
                  //[email* customer-email class:input-blue-95 class:w-100 class:p-12 class:rounded-10 placeholder "請輸入您的信箱"]
                .mb-15
                  label.fz-18(for='customer-phone') 電話
                    span.red *
                  input.input-blue-95.w-100.p-12.rounded-10(placeholder="請輸入您的電話")
                  //[tel* customer-phone class:input-blue-95 class:w-100 class:p-12 class:rounded-10 placeholder "請輸入您的電話"]
                .mb-15.index-dropbox
                  label.fz-18(for='customer-time') 可聯繫時間
                  select.input-blue-95.w-100.p-12.rounded-10(name='customer-time')
                    option(selected='') 請選擇可聯繫時間
                    option(value='morning') 上午 09:00 - 12:00
                    option(value='afternoon') 下午 13:00 - 18:00
                    option(value='night') 晚上 19:00 - 21:00
                  //[select customer-time class:input-blue-95 class:w-100 class:p-12 class:rounded-10 "可聯繫時間" "上午 09:00 - 12:00" "下午 13:00 - 18:00" "晚上 19:00 - 21:00"]
                .mb-15
                  label.fz-18(for='customer-textarea') 需求描述或備註
                  textarea.input-blue-95.w-100.p-12.rounded-10(row="3" placeholder="請輸入您的需求或備註")
                  //[textarea customer-textarea class:input-blue-95 class:w-100 class:p-12 class:rounded-10 placeholder "請輸入您的需求或備註"]
                .mt-20
                  .btn-cta.w-100.p-12.text-center.bg-brand-blue.rounded-10.white 寄出
                  //| [submit "寄出" class:btn-cta class:w-100 class:p-12 class:text-center class:bg-brand-blue class:rounded-10 class:white]







    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous")
    script(src='https://unpkg.com/swiper/swiper-bundle.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    script(src='https://unpkg.com/popper.js')
    script(src='./js/swiper.js')
