doctype 
html
  head
    meta(charset='UTF-8')
    title 中小型電商代營運方案 - Lifeupdate
    meta(name='description' content='以中小企業來說，對於電商事業架構與營運，如何快速與有系統的實現出來，成為主要課題。此方案即是您的加速器。')
    link(rel='icon' href='./img/favicon.svg' type='image/x-icon')
    meta(property='og:image' content='./img/ogimage.jpg')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous")
    link(rel='stylesheet' href='https://unpkg.com/swiper@7/swiper-bundle.min.css')
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet")  
    link(href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet")
    link(rel='stylesheet' href='./css/style.css')

  body
    #page-banner.bg-logo-bottom.bg-logo-top-after.overflow-x
      .container-xl.container-1100.d-flex.h-100.position-relative.z-index-500
        .row
          .col-lg-5.d-lg-flex.d-block.flex-column.align-items-xl-start.justify-content-center
            h1.text-uppercase Operation
            h4 中小型電商代營運方案
            .title-hr.justify-content-xl-center
            p 電商通路多元，從官網、商城到購物中心，透過通路代營運，可以快速實現品牌電商的架構，加速提升市場滲透率。
            //- a.btn.btn-cta.bg-brand-blue.rounded-pill.px-3.py-1.white.mt-10(href="#service-form") 選擇此方案
          .col-lg-7.d-flex.justify-content-center
            img.mt-mb-30.w-mb-80pc(src="wp-content/themes/astra/img/illustrator/operation.png", alt="")

    #process-block.py-58.bg-bottom.bg-logo-top.overflow-x
      .container-xxl.position-relative.z-index-500
        .row.justify-content-center
          .col-lg-12
            h2.text-center 方案內容
            p.text-uppercase.text-center Plan Content

          .col-lg-4
            .process-card.rounded-10.shodow-3.p-30.bg-white.mt-20.p-mb-20
              img.service-icon.w-100px.mb-20(src="wp-content/themes/astra/img/icon/website_fill_blue.svg", alt="快速啟動")
              h4 快速啟動
              p 協助中小型店家 / 個人賣家主充分運用官網與平台系統功能，建置符合形象之銷售渠道。
          .col-lg-4
            .process-card.rounded-10.shodow-3.p-30.bg-white.mt-20.p-mb-20
              img.service-icon.w-100px.mb-20(src="wp-content/themes/astra/img/icon/marketing_fill_orange.svg", alt="主題企劃")
              h4 主題企劃
              p 規劃行銷活動主題，並執行相關項目，含含系統設定、電商平台資源運用，並監控成效，持續優化。
          .col-lg-4
            .process-card.rounded-10.shodow-3.p-30.bg-white.mt-20.p-mb-20
              img.service-icon.w-100px.mb-20(src="wp-content/themes/astra/img/icon/material_fill_blue.svg", alt="素材設計")
              h4 素材設計
              p 針對官網與平台店鋪營運所需的素材，如招牌、Banner、商品圖，提供持續性的服務，保持品牌溝通連續性。
          .col-lg-4
            .process-card.rounded-10.shodow-3.p-30.bg-white.mt-20.p-mb-20
              img.service-icon.w-100px.mb-20(src="wp-content/themes/astra/img/icon/photo_fill_orange.svg", alt="商品攝影")
              h4 商品攝影
              p 針對商品或新活動，提供便捷的攝影解決方案，讓官網或平台店鋪，保持新鮮感，增加印象。
          .col-lg-4
            .process-card.rounded-10.shodow-3.p-30.bg-white.mt-20.p-mb-20
              img.service-icon.w-100px.mb-20(src="wp-content/themes/astra/img/icon/customer_service_fill_blue.svg", alt="客服服務")
              h4 客服服務
              p 每日客服案例應對，並彙整成報表，減輕中小型品牌電商，零碎的客服工作負擔。
          .col-lg-4
            .process-card.rounded-10.shodow-3.p-30.bg-white.mt-20.p-mb-20
              img.service-icon.w-100px.mb-20(src="wp-content/themes/astra/img/icon/warehousing_fill_orange.svg", alt="倉儲暨代出貨")
              h4 倉儲暨代出貨
              p 提供中央空調與少量庫存的解決方案，與各大物流串接，提供中小型店家 / 個人賣家，高CP值的解決方案。

    #portfolio-block.mb-80.bg-top
      .container-xxl.position-relative.z-index-500
        .row.justify-content-center
          .col-lg-12
            h2.text-center 方案作品
            p.text-uppercase.text-center PORTFOLIO
          .col-lg-12 
            .portfolio-card.rounded-10.shodow-3.mt-20.position-relative.h-400.w-100.h-mb-300
              .portfolio-card-hover.rounded-10.h-100.w-100.bg-hover.position-absolute
                .portfolio-text.position-absolute.left-20.bottom-10
                  h4.white 茶禮工坊
                  p.white 茶禮工房是創始於嘉義阿里山山脈，升活商務顧問打造具有溫度的樂天店舖。
              img.img-obj-cover.h-100.w-100.rounded-10(src="wp-content/themes/astra/img/case/茶禮工坊.jpg", alt="")
          .col-lg-4
            .portfolio-card.rounded-10.shodow-3.mt-20.position-relative.h-400.w-100.h-mb-300
              .portfolio-card-hover.rounded-10.h-100.w-100.bg-hover.position-absolute
                .portfolio-text.position-absolute.left-20.bottom-10
                  h4.white 卓老牌
                  p.white 傳承50年，正宗的好味道，升活商務顧問協助打造樂天店鋪，運用品牌色系與元素，傳達品牌印象。
              img.img-obj-cover.h-100.w-100.rounded-10(src="wp-content/themes/astra/img/case/卓老牌.png", alt="")
          .col-lg-4 
            .portfolio-card.rounded-10.shodow-3.mt-20.position-relative.h-400.w-100.h-mb-300
              .portfolio-card-hover.rounded-10.h-100.w-100.bg-hover.position-absolute
                .portfolio-text.position-absolute.left-20.bottom-10
                  h4.white 蝶吻手作
                  p.white 美味又健康的千層派！升活商務顧問運用繽紛元素，讓品牌有個豐富的樂天店鋪。
              img.img-obj-cover.h-100.w-100.rounded-10(src="wp-content/themes/astra/img/case/蝶吻手作.png", alt="")
          .col-lg-4
            .portfolio-card.rounded-10.shodow-3.mt-20.position-relative.h-400.w-100.h-mb-300
              .portfolio-card-hover.rounded-10.h-100.w-100.bg-hover.position-absolute
                .portfolio-text.position-absolute.left-20.bottom-10
                  h4.white 配件小姐3C好東西
                  p.white 22年的3C通訊銷售專價，升活商務顧問協助快速建立樂天店鋪，讓生意線上生意直接啟動。
              img.img-obj-cover.h-100.w-100.rounded-10(src="wp-content/themes/astra/img/case/配件小姐3C好東西.jpg", alt="")
          .col-lg-8
            .portfolio-card.rounded-10.shodow-3.mt-20.position-relative.h-400.w-100.h-mb-300
              .portfolio-card-hover.rounded-10.h-100.w-100.bg-hover.position-absolute
                .portfolio-text.position-absolute.left-20.bottom-10
                  h4.white 中洲寮牛肉老店
                  p.white 台南在地老店家，升活商務顧問協助打造有人情味的樂天店鋪。 
              img.img-obj-cover.h-100.w-100.rounded-10(src="wp-content/themes/astra/img/case/中洲寮牛肉老店.jpg", alt="")
          .col-lg-4
            .portfolio-card.rounded-10.shodow-3.mt-20.position-relative.h-400.w-100.h-mb-300
              .portfolio-card-hover.rounded-10.h-100.w-100.bg-hover.position-absolute
                .portfolio-text.position-absolute.left-20.bottom-10
                  h4.white 曹媽媽美食廚房
                  p.white 曹媽媽是一個傳統客家女性，嫁給一個外省第二代，升活商務顧問運用這奇妙結合，建立具品牌特色的樂天店鋪。
              img.img-obj-cover.h-100.w-100.rounded-10(src="wp-content/themes/astra/img/case/曹媽媽美食廚房.png", alt="")
          .col-lg-4
            .portfolio-card.rounded-10.shodow-3.mt-20.position-relative.h-400.w-100.h-mb-300
              .portfolio-card-hover.rounded-10.h-100.w-100.bg-hover.position-absolute
                .portfolio-text.position-absolute.left-20.bottom-10
                  h4.white 伊姿法瑪官方旗艦館
                  p.white 針對剛起步的新品牌，或拓展新渠道的品牌，升活商務顧問能在短時間內，打造符合形象的賣場。
              img.img-obj-cover.h-100.w-100.rounded-10(src="wp-content/themes/astra/img/case/伊姿法瑪官方旗艦館.png", alt="")
          .col-lg-8
            .portfolio-card.rounded-10.shodow-3.mt-20.position-relative.h-400.w-100.h-mb-300
              .portfolio-card-hover.rounded-10.h-100.w-100.bg-hover.position-absolute
                .portfolio-text.position-absolute.left-20.bottom-10
                  h4.white 獵人谷之夢
                  p.white 來自澳洲的獵人谷之夢，緣起於在雪梨北方知名酒鄉獵人谷擁有的第一座莊園。 升活商務顧問協助運用SHOPLINE，打造品牌旗艦店。
              img.img-obj-cover.h-100.w-100.rounded-10(src="wp-content/themes/astra/img/case/獵人谷之夢.png", alt="")

    #service-form.pb-80.bg-logo-top.overflow-x
      .container-xl.container-1100.position-relative.z-index-500
        .row.justify-content-center
          .col-lg-12
            h2.text-center 選擇此方案
            p.text-uppercase.text-center it is a viable option
          .col-lg-12
            .p-30.rounded-10.shodow-10.p-mb-20.bg-white.mt-20
              .row
                .col-lg-6
                  img.img-obj-cover.h-100.w-100.rounded-10(src="wp-content/themes/astra/img/illustrator/operation_bg.png", alt="")
                .col-lg-6.service-form-block.pl-20.mt-mb-30
                  //[contact-form-7 id="130" title="Operation"]
                  .mb-15
                    label.fz-18(for='customer-name') 姓名
                      span.red *
                    input.input-blue-95.w-100.p-12.rounded-10(placeholder="請輸入您的姓名")
                    // [text* customer-name class:input-blue-95 class:w-100 class:p-12 class:rounded-10 placeholder "請輸入您的姓名"]
                  .mb-15
                    label.fz-18(for='customer-email') 信箱
                      span.red *
                    input.input-blue-95.w-100.p-12.rounded-10(placeholder="請輸入您的信箱")
                    //[email* customer-email class:input-blue-95 class:w-100 class:p-12 class:rounded-10 placeholder "請輸入您的信箱"]
                  .mb-15
                    label.fz-18(for='customer-phone') 電話
                      span.red *
                    input.input-blue-95.w-100.p-12.rounded-10(placeholder="請輸入您的電話")
                    //[tel* customer-phone class:input-blue-95 class:w-100 class:p-12 class:rounded-10 placeholder "請輸入您的電話"]
                  .mb-15.index-dropbox
                    label.fz-18(for='customer-time') 可聯繫時間
                    select.input-blue-95.w-100.p-12.rounded-10(name='customer-time')
                      option(selected='') 請選擇可聯繫時間
                      option(value='morning') 上午 09:00 - 12:00
                      option(value='afternoon') 下午 13:00 - 18:00
                      option(value='night') 晚上 19:00 - 21:00
                    //[select customer-time class:input-blue-95 class:w-100 class:p-12 class:rounded-10 "可聯繫時間" "上午 09:00 - 12:00" "下午 13:00 - 18:00" "晚上 19:00 - 21:00"]
                  .mb-15
                    label.fz-18(for='customer-textarea') 需求描述或備註
                    textarea.input-blue-95.w-100.p-12.rounded-10(row="3" placeholder="請輸入您的需求或備註")
                    //[textarea customer-textarea class:input-blue-95 class:w-100 class:p-12 class:rounded-10 placeholder "請輸入您的需求或備註"]
                  .mt-20
                    .btn-cta.w-100.p-12.text-center.bg-brand-blue.rounded-10.white 寄出
                    //| [submit "寄出" class:btn-cta class:w-100 class:p-12 class:text-center class:bg-brand-blue class:rounded-10 class:white]


            


  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous")
  script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous")
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous")
  script(src='https://unpkg.com/swiper@7/swiper-bundle.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js')
  script(src='https://unpkg.com/popper.js')
