doctype 
html
  head
    meta(charset='UTF-8')
    title 升活團隊 - Lifeupdate
    meta(name='description' content='電子商務已成為趨勢，初次踏入電商領域的中小型企業/店家是否因為人力與資源不足而備受困擾?將電商事業交由升活商務代營運，如官網建置與設計、行銷推廣、後勤支援等，提供您一條龍完整的服務。')
    link(rel='icon' href='./img/favicon.svg' type='image/x-icon')
    meta(property='og:image' content='./img/ogimage.jpg')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous")
    link(rel='stylesheet' href='https://unpkg.com/swiper@7/swiper-bundle.min.css')
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet")  
    link(href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet")
    link(rel='stylesheet' href='./css/style.css')

  body
    #page-banner.bg-logo-bottom.bg-logo-top-after.overflow-x
      .container-xl.container-1100.d-flex.h-100.position-relative.z-index-500
        .row
          .col-lg-5.d-lg-flex.d-block.flex-column.align-items-xl-start.justify-content-center
            h1.text-uppercase OUR TEAM
            h4 升活團隊
            .title-hr.justify-content-xl-center
            p 我們是一個結合電／店商營運、設計工程，與新商務發展三大核心能力的顧問團隊。 提供的服務由電子商務代營運出發，依據市場情報，實戰經驗，搭配數據實證，為客戶提供全方位的商務解決方案。 
          .col-lg-7.d-flex.justify-content-center
            img.mt-mb-30.w-mb-80pc(src="http://lifeupdate.com.tw/wp-content/themes/astra/img/illustrator/our_team.png", alt="")

    #our-team.pb-80.bg-bottom.bg-logo-top.overflow-x
      .container-xl.container-1100.position-relative.z-index-500
        .row.justify-content-center
          .col-lg-12.mt-50
            h2.text-center 顧問群
            p.text-uppercase.text-center OUR TEAM
            .row
              .col-md-4.mt-20
                .p-30.d-flex.flex-column.align-items-center.justify-content-center.bg-white.rounded-10.shodow-3
                  img.w-75(src="https://lifeupdate.com.tw/wp-content/uploads/2021/04/Kenneth.png", alt="")
                  h3.mt-20 Kenneth
                  h4.fw-light.mt--10.job-position-blue.fz-20 總監
              .col-md-4.mt-20
                .p-30.d-flex.flex-column.align-items-center.justify-content-center.bg-white.rounded-10.shodow-3
                  img.w-75(src="https://lifeupdate.com.tw/wp-content/uploads/2019/07/sans.png", alt="")
                  h3.mt-20 Sans
                  h4.fw-light.mt--10.job-position-blue.fz-20 數位設計顧問
              .col-md-4.mt-20
                .p-30.d-flex.flex-column.align-items-center.justify-content-center.bg-white.rounded-10.shodow-3
                  img.w-75(src="https://lifeupdate.com.tw/wp-content/uploads/2021/04/Sharpay.png", alt="")
                  h3.mt-20 Sharpay
                  h4.fw-light.mt--10.job-position-blue.fz-20 內容發展顧問
              .col-md-4.mt-20
                .p-30.d-flex.flex-column.align-items-center.justify-content-center.bg-white.rounded-10.shodow-3
                  img.w-75(src="https://lifeupdate.com.tw/wp-content/uploads/2021/12/POTTER.png", alt="")
                  h3.mt-20 Potter
                  h4.fw-light.mt--10.job-position-blue.fz-20 商店營運顧問
              .col-md-4.mt-20
                .p-30.d-flex.flex-column.align-items-center.justify-content-center.bg-white.rounded-10.shodow-3
                  img.w-75(src="https://lifeupdate.com.tw/wp-content/uploads/2021/04/DiDi.png", alt="")
                  h3.mt-20 Didi
                  h4.fw-light.mt--10.job-position-blue.fz-20 視覺設計顧問
              .col-md-4.mt-20
                .p-30.d-flex.flex-column.align-items-center.justify-content-center.bg-white.rounded-10.shodow-3
                  img.w-75(src="https://lifeupdate.com.tw/wp-content/uploads/2021/12/Ricky.png", alt="")
                  h3.mt-20 Ricky
                  h4.fw-light.mt--10.job-position-blue.fz-20 商店營運助理
              .col-md-4.mt-20
                .p-30.d-flex.flex-column.align-items-center.justify-content-center.bg-white.rounded-10.shodow-3
                  img.w-75(src="https://lifeupdate.com.tw/wp-content/uploads/2021/04/James.png", alt="")
                  h3.mt-20 James
                  h4.fw-light.mt--10.job-position-blue.fz-20 財務管理顧問


  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous")
  script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous")
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous")
  script(src='https://unpkg.com/swiper@7/swiper-bundle.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js')
  script(src='https://unpkg.com/popper.js')
