doctype 
html
  head
    meta(charset='UTF-8')
    title 成效優化 - Lifeupdate
    meta(name='description' content='運用大量的數據分析，持續針對行銷目標，檢視經營的各項夠面，提升成效，並找出機會點，不斷優化。')
    link(rel='icon' href='./img/favicon.svg' type='image/x-icon')
    meta(property='og:image' content='./img/ogimage.jpg')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous")
    link(rel='stylesheet' href='https://unpkg.com/swiper@7/swiper-bundle.min.css')
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet")  
    link(href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet")
    link(rel='stylesheet' href='./css/style.css')

  body
    #page-banner.bg-logo-bottom.bg-logo-top-after.overflow-x
      .container-xl.container-1100.d-flex.h-100.position-relative.z-index-500
        .row
          .col-lg-5.d-lg-flex.d-block.flex-column.align-items-xl-start.justify-content-center
            h1.text-uppercase Performance Marketing
            h4 成效優化
            .title-hr.justify-content-xl-center
            p 運用大量的數據分析，持續針對行銷目標，檢視經營的各項夠面，提升成效，並找出機會點，不斷優化。
            a.btn.btn-cta.bg-brand-blue.rounded-pill.px-3.py-1.white(href="#service-form") 選擇此方案
          .col-lg-7.d-flex.justify-content-center
            img.mt-mb-30.w-mb-80pc(src="wp-content/themes/astra/img/illustrator/advertise.png")

    #process-block.py-58.bg-bottom.bg-logo-top.overflow-x
      .container-xxl.position-relative.z-index-500
        .row.justify-content-center
          .col-lg-12
            h2.text-center 方案內容
            p.text-uppercase.text-center Plan Content

          .col-lg-6
            .process-card.rounded-10.shodow-3.p-43.bg-white.mt-20.p-mb-20
              img.service-icon.w-100px.mb-20(src="wp-content/themes/astra/img/icon/plan_fill_blue.png")
              h4 媒體企劃
              p 協助品牌找到相對應的客群，並提出市場方向及品牌發展建議。
          .col-lg-6
            .process-card.rounded-10.shodow-3.p-43.bg-white.mt-20.p-mb-20
              img.service-icon.w-100px.mb-20(src="wp-content/themes/astra/img/icon/ad_fill_orange.png")
              h4 媒體購買
              p 依照品牌主要訴求及市場受眾特性，在不同廣告渠道規劃相對應的預算比例。
          .col-lg-6
            .process-card.rounded-10.shodow-3.p-43.bg-white.mt-20.p-mb-20
              img.service-icon.w-100px.mb-20(src="wp-content/themes/astra/img/icon/chart_fill_orange.png")
              h4 媒體採買優化
              p 以品牌方的行銷目標優化數據，持續策劃未來的走向且快速執行。
          .col-lg-6
            .process-card.rounded-10.shodow-3.p-43.bg-white.mt-20.p-mb-20
              img.service-icon.w-100px.mb-20(src="wp-content/themes/astra/img/icon/suggest_fill_blue.png")
              h4 分析與建議
              p 從數據中分析市場動態，並提供品牌（產品）趨勢和客觀資料以便業者決策。

    #portfolio-block.mb-80.bg-top
      .container-xxl.position-relative.z-index-500
        .row.justify-content-center
          .col-lg-12
            h2.text-center 方案作品
            p.text-uppercase.text-center PORTFOLIO
          .col-lg-12
            a(href="https://www.rakuten.com.tw/shop/charmingteahouse/" target='_blank') 
              .portfolio-card.rounded-10.shodow-3.mt-20.position-relative.h-500.w-100.h-mb-300
                .portfolio-card-hover.rounded-10.h-100.w-100.bg-hover.position-absolute
                  .portfolio-text.position-absolute.left-20.bottom-10
                    h4.white 珍珍
                    p.white 珍珍官方旗艦館，獨家網路販售，超取499免運費，魷魚絲、鱈魚香絲等多款經典零食一次買齊。
                img.img-obj-cover.h-100.w-100.rounded-10(src="wp-content/themes/astra/img/case/janejane.jpg", alt="珍珍")
          .col-lg-4
            a(href="https://www.rakuten.com.tw/shop/cho-lamb-stove/" target='_blank') 
              .portfolio-card.rounded-10.shodow-3.mt-20.position-relative.h-400.w-100.h-mb-300
                .portfolio-card-hover.rounded-10.h-100.w-100.bg-hover.position-absolute
                  .portfolio-text.position-absolute.left-20.bottom-10
                    h4.white 王者咖啡
                    p.white 擁有20多年的匠心製造和研發技術，備受全球眾多咖啡愛好者青睞，專注於精品商務咖啡。
                img.img-obj-cover.h-100.w-100.rounded-10(src="wp-content/themes/astra/img/case/kingcoffee.jpg", alt="王者咖啡")
          .col-lg-4
            a(href="https://www.rakuten.com.tw/shop/cho-lamb-stove/" target='_blank') 
              .portfolio-card.rounded-10.shodow-3.mt-20.position-relative.h-400.w-100.h-mb-300
                .portfolio-card-hover.rounded-10.h-100.w-100.bg-hover.position-absolute
                  .portfolio-text.position-absolute.left-20.bottom-10
                    h4.white 中化健康360
                    p.white 中國化學製藥擁有數十年歷史，所生產之藥品品質已達成國際水準，亦是台灣最大的藥品製造商。中化健康360的誕生，是希望能塑造全新的健康品牌，在一般消費通路上提升品牌熟悉度與識別度，但同時仍保有中國化學製藥的傳承感。
                img.img-obj-cover.h-100.w-100.rounded-10(src="wp-content/themes/astra/img/case/betterlife360_otc.jpg", alt="中化健康360")
          .col-lg-4
            a(href="https://www.rakuten.com.tw/shop/cho-lamb-stove/" target='_blank') 
              .portfolio-card.rounded-10.shodow-3.mt-20.position-relative.h-400.w-100.h-mb-300
                .portfolio-card-hover.rounded-10.h-100.w-100.bg-hover.position-absolute
                  .portfolio-text.position-absolute.left-20.bottom-10
                    h4.white 中化保健
                    p.white 中國化學製藥擁有數十年歷史，除了藥品生產、研發外，也跨足了保健品及家用、美妝產品。我們秉持「誠實無私、友愛互助」、「夜以繼日、研究發展、造福社會人群」的企業經營理念，不斷地研究發展，開創新局，期能為國人提供安全健康之現代生活。
                img.img-obj-cover.h-100.w-100.rounded-10(src="wp-content/themes/astra/img/case/betterlife360_health.jpg", alt="中化保健")

    #service-form.pb-80.bg-logo-top.overflow-x
      .container-xl.container-1100.position-relative.z-index-500
        .row.justify-content-center
          .col-lg-12
            h2.text-center 選擇此方案
            p.text-uppercase.text-center it is a viable option
          .col-lg-12
            .p-30.rounded-10.shodow-10.p-mb-20.bg-white
              .row
                .col-lg-6
                  img.img-obj-cover.h-100.w-100.rounded-10(src="wp-content/themes/astra/img/illustrator/advertise_bg.png")
                .col-lg-6.service-form-block.pl-20.mt-mb-30
                  //[contact-form-7 id="159" title="Advertise"]
                  .mb-15
                    label.fz-18(for='customer-name') 姓名
                      span.red *
                    input.input-blue-95.w-100.p-12.rounded-10(placeholder="請輸入您的姓名")
                    // [text* customer-name class:input-blue-95 class:w-100 class:p-12 class:rounded-10 placeholder "請輸入您的姓名"]
                  .mb-15
                    label.fz-18(for='customer-email') 信箱
                      span.red *
                    input.input-blue-95.w-100.p-12.rounded-10(placeholder="請輸入您的信箱")
                    //[email* customer-email class:input-blue-95 class:w-100 class:p-12 class:rounded-10 placeholder "請輸入您的信箱"]
                  .mb-15
                    label.fz-18(for='customer-phone') 電話
                      span.red *
                    input.input-blue-95.w-100.p-12.rounded-10(placeholder="請輸入您的電話")
                    //[tel* customer-phone class:input-blue-95 class:w-100 class:p-12 class:rounded-10 placeholder "請輸入您的電話"]
                  .mb-15.index-dropbox
                    label.fz-18(for='customer-time') 可聯繫時間
                    select.input-blue-95.w-100.p-12.rounded-10(name='customer-time')
                      option(selected='') 請選擇可聯繫時間
                      option(value='morning') 上午 09:00 - 12:00
                      option(value='afternoon') 下午 13:00 - 18:00
                      option(value='night') 晚上 19:00 - 21:00
                    //[select customer-time class:input-blue-95 class:w-100 class:p-12 class:rounded-10 "可聯繫時間" "上午 09:00 - 12:00" "下午 13:00 - 18:00" "晚上 19:00 - 21:00"]
                  .mb-15
                    label.fz-18(for='customer-textarea') 需求描述或備註
                    textarea.input-blue-95.w-100.p-12.rounded-10(row="3" placeholder="請輸入您的需求或備註")
                    //[textarea customer-textarea class:input-blue-95 class:w-100 class:p-12 class:rounded-10 placeholder "請輸入您的需求或備註"]
                  .mt-20
                    .btn-cta.w-100.p-12.text-center.bg-brand-blue.rounded-10.white 寄出
                    //| [submit "寄出" class:btn-cta class:w-100 class:p-12 class:text-center class:bg-brand-blue class:rounded-10 class:white]


            


  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous")
  script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous")
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous")
  script(src='https://unpkg.com/swiper@7/swiper-bundle.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js')
  script(src='https://unpkg.com/popper.js')
